PORT=3000
MONGODB_URI=mongodb+srv://TU_USUARIO:TU_PASSWORD@cluster0.xxxxx.mongodb.net/NOMBRE_BD?retryWrites=true&w=majority
JWT_SECRET=mi_secreto_super_seguro_cambiame_por_algo_largo
JWT_EXPIRES_IN=7d
NODE_ENV=development